*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* .top {
    width: 100%;
} */
nav {
    display: flex;
    justify-content: space-between;   
}
nav img {
    margin-left: 15px;
} 
.list {
    margin: 10px;
    display: flex;

}
.list ul li a{
    display: flex;
    text-decoration: none;
    margin-top: 10px;
    color: black;
}
.list ul{
    display: flex;
    justify-content: right;
    text-align: right;
    gap: 20px;
}
.list ul li {
    display: flex;
}
.list button {
    display: flex;
    text-align-last: auto;
    justify-content: center;
    border-radius: 30px;
    background-image: url(./svgexport-2.svg);
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 6px;
    padding: 10px;
    width: 140px;
    margin-left: 20px;
    background-color: white;
    border-color: rgb(143, 143, 143);
    color: red;
}
.prof {
    text-align: center;
    align-content: center;
    justify-content: center;
}
.prof h1 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 45px;
}
.prof p {
    margin-top: 60px;
    font-weight: 100;
    color: rgb(46, 46, 46);
    font-family: sans-serif;
    font-size: 50px;
}
.prof button {
    background-color: red;
    color: white;
    font-weight: bold;
    border-color: red;
    font-family: sans-serif;
    width: 250px;
    padding: 12px;
    border-radius: 40px;
    margin-top: 40px;
    font-size: x-large;
}
@media screen and (max-width: 850px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    nav ul {
        display: flex;
    }
    .list button {
        font-size: 0%;
        border-radius: 30px;
        background-image: url(./svgexport-2.svg);
        background-repeat: no-repeat;
        padding: 7%;
        width: 0%;
        background-position-x: center;
        background-position-y: 50%;
        margin-left: 20px;
        background-color: white;
        border-color: rgb(143, 143, 143);
    }
    .prof p {
        margin-top: 5%;
        font-size: 35px;
    }

}